<form (ngSubmit)="executeSearch()">
  <app-input-field
    class="search__input"
    placeholder="Search for a topic on Stackoverflow..."
    controlName="searchTerm"
    [group]="searchFormGroup"
  ></app-input-field>
  <button class="search__sumbit-button" type="submit">Search</button>
</form>

<h2>Search Results</h2>
<h3
  *ngIf="!isLoading"
  class="search_results-text"
>
  Results for '{{ searchTerm }}'
</h3>

<p *ngIf="searchHasParsingError$ | async" class="search__error parse-error">
  Some text might be poorly rendered due to parsing error!
</p>
<ul *ngIf="(searchResult$ | async)?.length" class="search__answer-wrapper">
  <ng-container *ngFor="let searchItem of (searchResult$ | async)">
    <app-search-result-item [searchItem]="searchItem"></app-search-result-item>
  </ng-container>
</ul>
<p *ngIf="(searchResult$ | async)?.length === 0 && !isLoading" class="search__no-result">
  No results :(
</p>
<p *ngIf="(searchResult$ | async) === null" class="search__no-result">
  Eneter a keyword and start searching! :)
</p>
<p *ngIf="searchResultsError$ | async" class="search__error">
  {{ (searchResultsError$ | async).error_message | formatError }}
</p>

<app-loading *ngIf="isLoading"></app-loading>
