<app-search-form
  placeholder="Search questions form Stackoverflow..."
  [searchTerm]="searchTerm"
  (searchValueEvent)="executeSearch($event)"
></app-search-form>

<h2 class="h2">Search Results</h2>
<h3
  *ngIf="(searchResult$ | async) !== null"
  class="search_results-text h3"
>
  Results for '{{ searchTerm }}'
</h3>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<ul *ngIf="(searchResult$ | async)?.length" class="search__answer-wrapper">
  <ng-container *ngFor="let searchItem of (searchResult$ | async)">
    <app-search-result-item [searchItem]="searchItem"></app-search-result-item>
  </ng-container>
</ul>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<p *ngIf="(searchResult$ | async)?.length === 0 && !isLoading" class="search__no-result">
  No results :(
</p>
<p *ngIf="(searchResult$ | async) === null" class="search__no-result">
  Eneter a keyword and start searching! :)
</p>

<app-error
  [errorMessage]="(searchResultsError$ | async)?.error_message"
  [errorId]="(searchResultsError$ | async)?.error_id"
></app-error>

<app-loading *ngIf="isLoading"></app-loading>

<ng-template #pagination>
  <app-pagination
    *ngIf="!isLoading && (searchResult$ | async)?.length"
    [pageNumber]="pageNumber"
    (pageNumberChangeEvent)="pageNumberChangeEvent($event)"
  ></app-pagination>
</ng-template>

