@import 'variables';
@import 'mixins';

:host {
  overflow-y: auto;
  overflow: overlay;
  height: calc(100vh - 110px);
  margin-top: 30px;

  @include flex($flex-direction: column, $justify-content: flex-start);
}

.search__answer-wrapper {
  width: $default-width;
  list-style-type: none;
  padding: 0;
}

.search__no-result {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 42px;
  color: gray;
}

.search_results-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.h2 {
  margin-bottom: 12px;
}

.h3 {
  margin-bottom: 30px;
}
