.app__header {
  background-color: #e39309;
  width: 400px;
  height: 70px;
  border-bottom-right-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.app__header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.app__header-nav-button {
  background-color: wheat;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: .3s;

  &:hover {
    background-color: white;
    border-color: black;
  }

  &--active {
    background-color: white;
  }
}
